Source: sonic
Maintainer: Riff Jiang <riffjiang@microsoft.com>
Section: net
Priority: optional
Build-Depends: dh-exec (>=0.3), debhelper (>= 12), autotools-dev, protobuf-compiler (>=3.21.12), libprotobuf-dev (>=3.21.12)
Standards-Version: 1.0.0

Package: dash-ha
Architecture: any
Depends: ${shlibs:Depends}
Description: HA control plane services for SONiC project.
